#root {

  background-color: #f6efe9;
}
*{
  padding: 0;
  border: 0;
  margin: 0;
  overflow-x: hidden;
}

 @font-face {
  font-family: 'RocaTwoBold';
  src: url('./assets/fonts/fonnts.com-Roca_Two_Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} 
 
